.countdown-btn-progress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-button {
  width: 160px;
}

.button_countdown {
  width: 160px;
}

.button_countdown:nth-last-child(2) {
  margin-top: 15px;
}

.countdown-progress{
  width: 127px;
}

.display {
  font-family: Trebuchet, Arial, Helvetica, sans-serif;
  margin-top: 15px;
  font-size: 38px;
}

.countdown-block-input{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.countdown-slider{
  display: block;
  width: 355px;
  margin: 0 auto;
}

@media screen and (max-width:400px) {
  .countdown-btn-progress {
    justify-content: space-between;
  }
  .block-button {
    width: 150px;
  }
  .button_countdown {
    width: 120px;
  }
  .countdown-progress{
    margin-right: 10px;
  }
  .countdown-slider{
    width: 295px;
  }
}

  