.countdown-btn-progress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-button {
  width: 160px;
}

.button_countdown {
  width: 160px;
}

.button_countdown:nth-last-child(2) {
  margin-top: 15px;
}

.display {
  font-family: Trebuchet, Arial, Helvetica, sans-serif;
  margin-top: 15px;
  font-size: 38px;
}

.countdown-block-input{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.input-container{ 
  width: 368px;
  display: flex;
  justify-content: space-around;
}

.input-container_item {
  width: 160px;
}

.countdown-slider{
  display: block;
  width: 355px;
  margin: 0 auto;
}