.timer-container {
    display: flex;
    flex-direction: row; 
}

.block-button {
    width: 50%;
}

.button {
    width: 180px;
    margin-top: 15px;
}

.display{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    margin-left: 7px;
    margin-top: 15px;
    font-size: 50px;
}