.timer-container {
    display: flex;
    flex-direction: row;
}

.button-block-timer {
    width: 50%;
}

.button_timer {
    width: 160px;
    margin-top: 15px;
}
@media screen and (max-width:400px) {
  .button_timer {
    width: 120px;
    margin-top: 15px;
  }
}

.display-timer {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 47px;
}
@media screen and (max-width:400px) {
  .display-timer {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size: 38px;
  }
}
