.timer-container {
    display: flex;
    flex-direction: row;
}

.button-block-timer {
    width: 50%;
}

.button_timer {
    width: 160px;
    margin-top: 15px;
}

.display-timer {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 47px;
}