.timer-container {
    display: flex;
    flex-direction: row;
}

.block-button {
    width: 50%;
}

.button {
    width: 160px;
    margin-top: 15px;
}

.display{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 47px;
}